body{
    padding: 0;
    margin: 0;
}

#bodyimg{
    background-image: url(../img/fondo\ plantas.avif);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.banner{
    width: 100%;
    padding: 15%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#santafe{
    background-image: url(../img/parque\ santa\ fe.png);
}

#yarumal{
    background-image: url(../img/Yarumal2-1606x902-3212x1804.jpg);
}

#caucasia{
    background-image: url(../img/parque-caucasia3.jpg);
}

#bello{
    background-image: url(/img/bello.jpeg);
}

#caramanta{
    background-image: url(/img/caramanta1.jpg);
}

#belmira{
    background-image: url(../img/belmira.jpg);
}

.letra1{
    color: black;
    text-align: center;
}

.imgb{
    width: 100%;
    height: 100%;
}

#container{
    margin-bottom: 20px;
    background-color: rgb(240, 255, 247);
    padding: 0;
    width: 100%;
    border-radius: 30px;
}

#listaC{
    color: white;
}

.contenido{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: justify;
    font-family: 'Noto Serif Tamil', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Shantell Sans', cursive;
}

.card{
    width: 18rem;
}

#carta{
    display: flex;
    margin: auto;
    flex-direction: row;
    margin-bottom: 20px;
}

#carta div{
    display:flex;
    align-items: center;
    flex-direction: column;
}

#carta div h2{
    margin-bottom: 20px;
    font-weight: bold;
}

#carta p{
    margin: 0;
    padding: 0;
}

#carta img{
    border-radius: 10px;
    margin-right: 20px;
    width: 60%;
}

#parrafo{
    margin: auto;
}

iframe {
    width: 100%;
    height: 221px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 10px;
}

#btn1{
    display: flex;
    justify-content: center;
}