body{
    padding: 0;
    margin: 0;
}

.banner{
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#santafe{
    background-image: url(../img/parque\ santa\ fe.jpg);
}

#yarumal{
    background-image: url(../img/parque\ yarumal.jpg);
}

#caucasia{
    background-image: url(../img/parque\ caucasia.jpeg);
}

#bello{
    background-image: url(/img/bello.jpeg);
}

#caramanta{
    background-image: url(/img/caramanta1.jpg);
}

#belmira{
    background-image: url(../img/belmira.jpg);
}

.columnas{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.letra1{
    color: black;
    text-align: center;
}

.card{
    width: 18rem;
}

.imgb{
width: 100%;
height: 100%;
}
